<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="VMBDbConnectionString" connectionString="Data Source=NES-Abiodun;Initial Catalog=VMBDatabase;Persist Security Info=True;User ID=sa;Password=Shakiru10" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>